# Ignore any LaTeX supporting files
*.aux
*.log
*.out
*.synctex.gz
*.xml
*.bbl
*.bcf
*.blg
*.bbl-SAVE-ERROR
*.toc
*.synctex(busy)
*.pdf
*.fls
*.fdb_latexmk
*.acn
*.glo
*.glsdefs
*.ist
*.acr
*.alg
*.glg
*.gls
*.lof
*.lot
*.lol

# Others 
*.DS_Store
*__pycache__
*output